.idea/
03_04_03_output.txt
1.txt
3
335.txt
870.txt
Dima Tolura - lox
PKG-INFO
README.md
README.txt
__pycache__/
dataset_3363_3 (24).txt
dataset_3363_3 (25).txt
dataset_3363_3 (26).txt
dataset_3363_3 (27).txt
dataset_3363_3 (29).txt
dataset_3363_4 (3).txt
dataset_3378_3 (1).txt
dataset_3380_5 (1).txt
dataset_3380_5.txt
dima
dimalox
import_copy.py
kyky.py
main.py
poem.txt
setup.py
simple-crypt-4.1.7/
test.py
venv/
